/* Error: Undefined variable.
 *    ,
 * 13 |         color: $border-red;
 *    |                ^^^^^^^^^^^
 *    '
 *   scss\base\datepicker.scss 13:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 13 \2502          color: $border-red;\d\a    \2502                 ^^^^^^^^^^^\a    \2575 \a   scss\\base\\datepicker.scss 13:16  root stylesheet";
}
