.content {
  max-width: calc(100% - 200px);
  max-height: calc(100vh - 56px);
  position: relative;
  padding: 12px 12px 0px 12px;
  background-color: #eeeeee;
  //   position: fixed;
  //   right: 0;
  //   z-index: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  &.content--collapsed {
    animation: navbar-collapse 0.1s ease-in-out;
    max-width: calc(100% - 74px);
  }

  .content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .content__header--title {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .content__main {
    padding: 10px 0px;
    background-color: $bg-white;

    .content__table {
      position: relative;

      .content__toolbar {
        margin-bottom: 6px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .content__toolbar-action {
          .reload-icon {
            width: 36px;
            height: 36px;
            background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -418px -194px;
            margin: 0 12px;
            cursor: pointer;

            &:hover {
              background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -1091px -84px;
            }
          }
        }
      }
    }
  }
}
