.ant-picker-date-panel {
  .ant {
    &-picker {
      &-header {
        &-super {
          &-prev-btn {
            display: none;
          }
          &-next-btn {
            display: none;
          }
        }
      }
      &-content {
        td,
        th {
          width: 36px;
          height: 36px;
          box-sizing: border-box;
        }
        thead {
          border-bottom: 1px solid #e0e0e0;
          th {
            color: #757575;
            font-weight: 700;
            font-size: 13px;
          }
        }
        tbody {
          tr {
            td {
              margin: 0 10px;
              &:hover {
                cursor: pointer;
              }
            }
            &:last-child {
              display: none;
            }
          }
        }
      }
      &-cell {
        visibility: hidden;

        &-inner {
          background: none !important;
          width: 36px !important;
          height: 36px !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          transition: none !important;
          &:hover {
            border-radius: 50%;
            border: 1px solid #2ca01c;
            line-height: 36px !important;
          }
        }

        &-start {
          // visibility: visible;
        }
        &-in-view {
          visibility: visible;
        }
        &-today {
          visibility: visible;
          .ant-picker-cell-inner {
            &::before {
              border: none !important;
            }
          }
        }
        &-selected {
          visibility: visible;
          .ant-picker-cell-inner {
            color: #2ca01c !important;
            background-color: rgba(44, 160, 28, 0.2) !important;
            border-radius: 50% !important;
            font-weight: 600 !important;
          }
        }
      }
    }
  }
}
.ant-picker-year-panel {
  .ant-picker {
    &-content {
      background: #31af21;
      transition: transform 0.2s ease-in;
      border-radius: 22px;
      td {
        box-sizing: border-box;
      }
    }

    &-cell {
      padding: 0 !important;
    }
    &-cell-in-view {
    }
    &-cell-inner {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      &:hover {
        background: #fff;
        color: #2ca01c !important;
        border-radius: 2px;
      }
    }
    &-cell-selected {
      .ant-picker-cell-inner {
        background-color: #fff;
        color: #08bf1e;
        border-radius: 20px;
      }
    }
  }
}
.ant-picker-month-panel {
  .ant-picker {
    &-content {
      background: #31af21;
      transition: transform 0.2s ease-in;
      border-radius: 22px;
      td {
        box-sizing: border-box;
      }
    }

    &-cell {
      padding: 0 !important;
    }
    &-cell-in-view {
    }
    &-cell-inner {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      text-transform: capitalize;
      white-space: nowrap;
      &:hover {
        background: #fff;
        color: #2ca01c !important;
        border-radius: 2px;
      }
    }
    &-cell-selected {
      .ant-picker-cell-inner {
        background-color: #fff;
        color: #08bf1e;
        border-radius: 20px;
      }
    }
  }
}
.ant-picker-decade-panel {
  .ant-picker {
    &-content {
      background: #31af21;
      transition: transform 0.2s ease-in;
      border-radius: 22px;
      td {
        box-sizing: border-box;
      }
    }

    &-cell {
      padding: 0 !important;
    }
    &-cell-in-view {
    }
    &-cell-inner {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      text-transform: capitalize;
      white-space: nowrap;
      &:hover {
        background: #fff;
        color: #2ca01c !important;
        border-radius: 2px;
      }
    }

    &-cell-selected {
      .ant-picker-cell-inner {
        background-color: #fff;
        color: #08bf1e;
        border-radius: 20px;
      }
    }
  }
}
.ant {
  &-picker {
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 0 !important;
    height: 32px;
    font-family: $Misa-font-regular !important;
    &:hover {
      border: 1px solid #bbbbbb;
    }
    &-header {
      border-bottom: none;
      button {
        text-transform: capitalize;
        font-weight: 600;
        &:hover {
          color: #2ca01c !important;
        }
      }
    }
    &-body {
      padding: 0 12px;
    }
    &-dropdown {
      z-index: 9999;
      left: 0;
    }
    &-input {
      padding-left: 13px;
      input {
        height: 32px;
        &::placeholder {
          font-size: 12px;
          color: #bbbbbb;
          font-style: italic;
        }
      }
    }
    &-suffix {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer !important;
      pointer-events: all !important;
      &:hover {
        background: #e0e0e0;
      }
    }
    &:active {
      border: 1px solid #bbbbbb;
    }
    &-focused {
      border: 1px solid #019160 !important;
      box-shadow: none !important;
      overflow: hidden;
    }

    &-footer {
      border-top: 1px solid #e0e0e0 !important;
    }
    &-today-btn {
      color: #2ca01c !important;
    }
  }
}
