.dialog {
  animation: dialog-open 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);

  &__modal {
    height: auto;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    overflow: hidden;
  }
  &__modal__form {
    // min-width: 900px;
    // max-width: 900px;
    padding: 24px;
  }
  &__modal__popup {
    max-width: 400px;
    min-width: 444px;
    padding: 24px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 24px;
  }
  &__header--title {
    align-items: center;
    span {
      margin-left: 10px;
    }
  }
  &__header__action {
    display: flex;
  }
  &__header__help {
    background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -89px -145px;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    cursor: pointer;
  }
  &__header__close {
    background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -143px -145px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__body {
  }
  &__body__form {
    padding-bottom: 8px !important;
    align-items: start;
    justify-content: center;
  }
  &__body__popup {
    padding-bottom: 24px;
    align-items: center;
  }
  &__body--icon {
    min-width: 48px;
    min-height: 48px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__footer__left {
  }
  &__footer__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__body--text {
    margin-left: 16px;
  }
  @keyframes dialog-open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.title {
  &-popup {
    font-size: 24px;
    font-weight: 700;
    color: $text-black;
  }
}

.body {
  &-line {
    height: 1px;
    background: #b8bcc3;
    margin-bottom: 20px;
  }
}
.icon {
  &-danger {
    background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -592px -456px;
    width: 48px;
    height: 48px;
  }
  &-info {
    background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -826px -456px;
    width: 48px;
    height: 48px;
  }
}

.warning {
  color: #ffc400;
}
.danger {
  color: #ea2b2b;
}
