.form-group {
  margin-bottom: 16px;
  position: relative;
  .form-control {
    display: block;
    &.label {
      margin-bottom: 8px;
    }
  }
  input,
  textarea {
    width: 100%;
  }
  label {
    font-weight: 600;
  }
}
