.sidebar {
  width: auto;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  color: $text-white;
  background-color: #393a3d;
  overflow-y: auto;
  flex-shrink: 0;
  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 24px;
  }
  &__content {
    padding-top: 8px;
    padding-bottom: 14px;
  }
  &__logo {
    width: auto;
    img {
      height: 32px;
    }
  }
  &__item__list {
    a {
      color: #fff;
    }
  }
  &__item {
    width: auto;
    height: 42px;
    padding: 0 14px 0 8px;
    border-left: 6px transparent solid;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    &:hover {
      background-color: rgba(#d4d7dc, 0.2);
    }
  }
  &__item--icon {
    margin-right: 8px;
    div {
      width: 24px;
      height: 24px;
      opacity: 0.5;
    }
  }
  &__item--text {
    font-weight: 500;
    font-size: 13px;
  }
}
