.ant-pagination {
  &.mini {
    a {
      color: $black;
    }
    .ant-pagination {
      &-item {
        a {
          color: $black;
          padding: 0 6.5px !important;
        }
        &-active {
          border: 1px solid $grey-300;
          font-weight: 700;
        }
      }
      &-prev {
        margin-right: 13px;
      }
      &-next {
        margin-left: 13px;
      }
      &-disabled {
        a {
          color: $grey-500 !important;
        }
      }
    }
  }
}
