* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 13px;
  box-sizing: border-box;
  font-family: $Misa-font-regular;
  font-weight: 400;
}

html,
body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}
