@font-face {
  font-family: "MISA Fonts Regular";
  src: url("@/assets/fonts/notosans-regular.2cb88a13.woff2");
}

@font-face {
  font-family: "MISA Fonts Bold";
  src: url("@/assets/fonts/notosans-bold.3ede5aff.woff2");
}

@font-face {
  font-family: "MISA Fonts SemiBold";
  src: url("@/assets/fonts/notosans-semibold.df3e6dc4.woff2");
}

/*--------------------------- Fonts ----------------------*/
$Misa-font-regular: "MISA Fonts Regular";
$Misa-font-bold: "MISA Fonts Bold";

/*--------------------------- Colors ----------------------*/

$white: #ffffff;
$black: #000000;

$red-600: #b80000;
$red-500: #e60000;
$red-400: #eb3333;
$red-300: #f06666;

$blue-600: #0062cc;
$blue-500: #007aff;
$blue-400: #3395ff;
$blue-300: #66afff;

$green-600: #067933;
$green-500: #089740;
$green-400: #39ac66;
$green-300: #6bc18d;

$light-green-600: #409330;
$light-green-500: #50b83c;
$light-green-400: #73c663;
$light-green-300: #96d58a;

$grey-700: #393a3d;
$grey-600: #757575;
$grey-500: #9e9e9e;
$grey-400: #bdbdbd;
$grey-300: #e0e0e0;

/*--------------------------- Text-color -------------------------*/
$text-blue: $blue-600;
$text-green: #089740;
$text-grey: #9e9e9e;
/*--------------------------- Border-color -------------------------*/

$border-red: $red-500;
$border-grey: #bbbbbb;
$border-line: #e5e5e5;
$border-green: $green-600;

/*--------------------------- Background-color ----------------------*/

$bg-white: #ffffff;
$bg-black: #38393d;

$bg-green: #2ca01c;
$bg-green-hover: #35bf22;
$bg-green-active: #248b15;

$bg-warning: #f49342;
$bg-error: #de3618;
$bg-success: #50b83c;

$bg-grey: #9e9e9e;
$bg-grey-hover: #e0e0e0;
$bg-grey-bold: #1f1f1f;
$bg-grey-bold-hover: #616161;
$bg-grey-bold-active: #424242;

/*------ SideBar -------*/
$bg-sidebar: #393a3d;
$text-sidebar: $white;
$text-sidebar-hover: rgba(#d4d7dc, 0.2);

/*------ Content -------*/
$bg-content: #eceef1;

/*------ Table -------*/
$bg-table-header: #e5e8ec;
$bg-table-body: #ffffff;
$bg-table-line: #c7c7c7;
$bg-table-body-hover: #f2f9ff;
$bg-table-body-focus: #e5f3ff;

/*------ Toast -------*/
$bg-toast: $white;
$bg-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$bg-toast-info: #009eeb;

/*--------------------------- Sprire Svg ----------------------*/

$sprite-img: "@/assets/img/Sprites.64af8f61.svg";
/*--------------------------- Logo Header ----------------------*/

$logo-header: "@/assets/img/Logo_Module_TiengViet_White.66947422.svg";
