@import "variables";
@import "grid";
@import "form";
@import "input";
@import "header";
@import "navbar";
@import "content";
@import "dialog";
@import "toast";
@import "icons";
@import "spacing";
@import "dialog";
@import "font";
@import "datepicker";
@import "display";
@import "background";

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 13px;
  box-sizing: border-box;
  font-family: $Misa-font-regular;
  font-weight: 400;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}
.menu {
  &-container {
  }
}
.content {
  &-area {
    flex: 1;
    min-height: 0;
    min-width: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: $bg-white;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: $bg-grey;
}
