@import "variables";
@import "grid";
@import "form";
@import "input";
@import "header";
@import "navbar";
@import "content";
@import "dialog";
@import "toast";
@import "dialog";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: $bg-white;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: $bg-grey;
  
}
