.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s;
}

.v {
  &-combobox {
    position: relative;
  }
  &-combobx_show {
    border: 1px solid $bg-green;
  }
  &-combobox__label {
    label {
      cursor: pointer;
    }

    font-weight: 600;
    font-family: "MISA Fonts Bold";
    margin-bottom: 8px;

    span {
      color: $border-red;
    }
  }
  &-combobox__body {
    width: 100%;
    text-align: left;
    outline: none;
    box-sizing: border-box;
    min-height: $height-input;
    border-radius: $border-radius;
    background-color: $white;
    position: relative;
  }
  &-combobox__selected {
    background-color: $white;
    border-radius: $border-radius;
    color: $black;
    padding: 0 0 0 10px;
    min-height: $height-input;
    @include flex-align-center;
    border: 1px solid $border-grey;
    user-select: none;
    outline: none;
    box-sizing: border-box;

    input {
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
    }
  }

  &-combobox__icon {
    top: 0;
    right: 0;
    position: absolute;
    min-width: $height-input;
    cursor: pointer;
    bottom: 0;
    border-radius: 0 $border-radius $border-radius 0;
    @include flex-center;
    &:hover {
      background-color: $bg-grey-hover;
    }
  }
  &-select__list {
    color: $black;
    position: absolute;
    background-color: $bg-white;
    padding: 8px;
    left: 0;
    right: 0;
    z-index: 9999;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(23, 27, 42, 0.24);
  }
  &-select__items {
    padding: 0 4px;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    min-height: $height-input;
    line-height: $height-input;
    position: relative;

    &:hover {
      background-color: $bg-grey-hover;
    }

    &.itemFocus {
      background-color: $bg-grey-hover;
    }
  }
  &-select__hover {
    background-color: $bg-grey-hover !important;
  }
  &-select__focus {
    background-color: $bg-green !important;
    color: $white !important;
  }
  // &-select__items--checked {
  //   background: url("@/assets/img/Sprites.64af8f61.svg") no-repeat -1178px -362px;
  //   @include box(12px, 12px);
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   border-radius: 50%;
  // }
}
