.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}
.grid.form {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}
.row.no-gutters .c-0 {
  display: none;
}
.row .col {
  padding-left: 4px;
  padding-right: 4px;
}
.row .c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.row .c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.row .c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.row .c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.row .c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.row .c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.row .c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.row .c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.row .c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.row .c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.row .c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.row .c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.row .c-o-1 {
  margin-left: 8.33333%;
}
.row .c-o-2 {
  margin-left: 16.66667%;
}
.row .c-o-3 {
  margin-left: 25%;
}
.row .c-o-4 {
  margin-left: 33.33333%;
}
.row .c-o-5 {
  margin-left: 41.66667%;
}
.row .c-o-6 {
  margin-left: 50%;
}
.row .c-o-7 {
  margin-left: 58.33333%;
}
.row .c-o-8 {
  margin-left: 66.66667%;
}
.row .c-o-9 {
  margin-left: 75%;
}
.row .c-o-10 {
  margin-left: 83.33333%;
}
.row .c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .row .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .row .md-0 {
    display: none;
  }
  .row .md-1,
.row .md-2,
.row .md-3,
.row .md-4,
.row .md-5,
.row .md-6,
.row .md-7,
.row .md-8,
.row .md-9,
.row .md-10,
.row .md-11,
.row .md-12 {
    display: block;
  }
  .row .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .row .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .row .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .row .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .row .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .row .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .row .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .row .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .row .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row .md-o-1 {
    margin-left: 8.33333%;
  }
  .row .md-o-2 {
    margin-left: 16.66667%;
  }
  .row .md-o-3 {
    margin-left: 25%;
  }
  .row .md-o-4 {
    margin-left: 33.33333%;
  }
  .row .md-o-5 {
    margin-left: 41.66667%;
  }
  .row .md-o-6 {
    margin-left: 50%;
  }
  .row .md-o-7 {
    margin-left: 58.33333%;
  }
  .row .md-o-8 {
    margin-left: 66.66667%;
  }
  .row .md-o-9 {
    margin-left: 75%;
  }
  .row .md-o-10 {
    margin-left: 83.33333%;
  }
  .row .md-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row .l-0 {
    display: none;
  }
  .row .l-1,
.row .l-2,
.row .l-2-4,
.row .l-3,
.row .l-4,
.row .l-5,
.row .l-6,
.row .l-7,
.row .l-8,
.row .l-9,
.row .l-10,
.row .l-11,
.row .l-12 {
    display: block;
  }
  .row .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .row .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .row .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .row .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .row .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .row .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .row .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .row .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .row .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row .l-o-1 {
    margin-left: 8.33333%;
  }
  .row .l-o-2 {
    margin-left: 16.66667%;
  }
  .row .l-o-3 {
    margin-left: 25%;
  }
  .row .l-o-4 {
    margin-left: 33.33333%;
  }
  .row .l-o-5 {
    margin-left: 41.66667%;
  }
  .row .l-o-6 {
    margin-left: 50%;
  }
  .row .l-o-7 {
    margin-left: 58.33333%;
  }
  .row .l-o-8 {
    margin-left: 66.66667%;
  }
  .row .l-o-9 {
    margin-left: 75%;
  }
  .row .l-o-10 {
    margin-left: 83.33333%;
  }
  .row .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px !important;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .row .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row .l-0 {
    display: none;
  }
  .wide .row .l-1,
.wide .row .l-2,
.wide .row .l-2-4,
.wide .row .l-3,
.wide .row .l-4,
.wide .row .l-5,
.wide .row .l-6,
.wide .row .l-7,
.wide .row .l-8,
.wide .row .l-9,
.wide .row .l-10,
.wide .row .l-11,
.wide .row .l-12 {
    display: block;
  }
  .wide .row .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .row .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .row .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .row .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .row .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .row .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .row .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .row .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .row .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .row .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .row .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .row .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .row .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .row .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .row .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .row .l-o-3 {
    margin-left: 25%;
  }
  .wide .row .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .row .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .row .l-o-6 {
    margin-left: 50%;
  }
  .wide .row .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .row .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .row .l-o-9 {
    margin-left: 75%;
  }
  .wide .row .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .row .l-o-11 {
    margin-left: 91.66667%;
  }
}

/*# sourceMappingURL=grid.css.map */
